*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  height: 8px;
  background: rgba(#000, 0.1);
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  animation: animScrollThumb 5s linear infinite alternate forwards;
  -o-animation: animScrollThumb 5s linear infinite alternate forwards;
  -ms-animation: animScrollThumb 5s linear infinite alternate forwards;
  -moz-animation: animScrollThumb 5s linear infinite alternate forwards;
  -webkit-animation: animScrollThumb 5s linear infinite alternate forwards;
  background-size: 1000% 1000%;
  background-image: linear-gradient(
    45deg,
    #00b3ff,
    #18de54,
    #00b3ff,
    #18de54,
    #00b3ff,
    #18de54,
    #00b3ff,
    #18de54,
    #00b3ff,
    #18de54
  );
}

@keyframes animScrollThumb {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 900% 900%;
  }
}

body {
  min-width: 320px;
}

.auto-container {
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  &_blue {
    padding: 28px 36px 28px 27px;
    background: #f2fbfe;
  }
  @media (max-width: 991px) {
    padding: 15px;
  }
}

.reestr-card {
  max-width: 1305px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;

  &__header {
    padding: 8px 27px;
    border-bottom: 1px solid #bcd1d7;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @media (max-width: 991px) {
      padding: 10px 15px;
    }
    &-item {
      padding-top: 3px;
      padding-bottom: 3px;
      max-width: 150px;
      width: max-content;
      margin-right: 50px;
      margin-bottom: 10px;
      @media (max-width: 991px) {
        max-width: 200px;
      }

      &:last-child {
        min-width: initial;
        max-width: 350px;
        width: 100%;

        @media (max-width: 991px) {
          max-width: 200px;
        }
      }
    }

    &-label,
    &-text {
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #003a53;
      display: block;
    }

    &-label {
      margin-bottom: 2px;
      font-weight: 400;
      color: #989898;
      display: block;
    }
  }

  &__main {
    padding: 12px 21px;
    display: flex;
    width: 100%;

    @media (max-width: 991px) {
      padding: 10px 15px;
      flex-direction: column;
    }

    &-left {
      margin-right: 10px;
      width: 100%;
      @media (max-width: 991px) {
        margin-right: 0;
      }
    }
    &-right {
      width: 100%;
      margin-left: 10px;
      @media (max-width: 991px) {
        margin-left: 0;
      }
    }

    &-item {
      padding-top: 3px;
      padding-bottom: 3px;
      margin-bottom: 10px;
      width: 100%;
    }

    &-label,
    &-text {
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #003a53;
      display: block;
    }

    &-label {
      margin-bottom: 2px;
      font-weight: 400;
      color: #989898;
    }
  }
}

// calc-compensation

.calc-compensation {
  position: relative;
  padding: 32px 40px;
  background: #f8f8f8;

  @media (max-width: 991px) {
    padding: 32px 15px;
  }

  &__remove {
    position: absolute;
    top: 13px;
    right: 17px;
    display: flex;
    cursor: pointer;

    img {
      width: 13px;
      height: 13px;
      margin-top: 3px;
      margin-right: 3px;
      object-fit: contain;
      object-position: center center;
      transition: all 0.3s ease-in-out;
    }

    span {
      transition: all 0.3s ease-in-out;
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #003a53;
    }

    &:hover {
      img {
        transform: translateX(-10px);
      }
      span {
        color: #000;
      }
    }
  }
}

.btn {
  &__wrapper {
    width: 100%;
    display: flex;
    padding: 7px 0;

    &_right {
      justify-content: flex-end;
    }

    &_left {
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }
  }

  &-add-calc-compensation {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00b3ff;

    &::before {
      padding: 0;
      content: "+";
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      margin-right: 5px;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00b3ff;
      color: #fff !important;
      transition: all 0.4s ease-in-out;
    }

    &:hover::before {
      transform: translateX(-10px);
    }
  }

  &-download {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

    &,
    span {
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7;
      color: #000000;
      transition: color 0.3s ease-out;
    }

    img {
      margin-right: 10px;
      width: 20px;
      height: 24px;
      object-fit: contain;
      object-position: center center;
      transition: transform 0.3s ease-out;
    }

    &:hover {
      &,
      span {
        color: #39a1ff;
      }
      img {
        transform: translateX(-10px);
      }
    }
  }
}

// sidebar-compensation

.sidebar-compensation {
  &__info {
    max-width: 374px;
    width: 100%;
    padding: 30px 40px;
    background: #f2fbfe;

    ::-webkit-scrollbar {
      background: #fff;
      height: 5px;
      border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb {
      background: #003a53;
      height: 5px;
      border-radius: 3px;
    }

    @media (max-width: 991px) {
      padding: 15px;
    }

    &-desc {
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      color: #003a53;
      margin-bottom: 29px;
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: #fff;
      padding: 24px 30px;
      margin-bottom: 12px;
      overflow-x: auto;

      h1 {
        text-align: center;
        font-family: Manrope, sans-serif;
        font-weight: 300;
        font-size: 50px;
        line-height: 68px;
        color: #0989fa;

        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 1.2;
        }
      }

      span {
        position: absolute;
        right: 10px;
        top: 10px;
        text-transform: uppercase;
        font-family: Manrope, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 29px;
        text-align: center;
        color: #39a1ff;

        @media (max-width: 991px) {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }

    &-link {
      text-decoration: none;
      font-family: Manrope, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: #0989fa;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// trade-statistics-table

.trade-statistics-table {
  background: #fff;
  border-collapse: collapse;
  width: 100%;
  min-width: 767px;
  margin-bottom: 30px;

  &__title {
    padding-top: 4px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 1199px) {
      font-size: 18px;
    }
  }

  &__sort {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover,
    &.sorted {
      &::after {
        transform: translateY(0%) rotate(-225deg);
      }
    }

    &:hover {
      color: rgba(#fff, 0.9);

      &::after {
        border-color: rgba(#fff, 0.9);
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 40%;
      width: 7px;
      height: 7px;
      border: 1px solid #fff;
      border-top: 0;
      border-right: 0;
      display: block;
      transform: translateY(-50%) rotate(-45deg);
      transition: transform 0.3s linear;
    }
  }

  &.hovered {
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: darken(#f2fbfe, 10%);
        }
      }
    }
  }

  &__outer {
    overflow-y: auto;
  }

  thead {
    background: radial-gradient(
      159.21% 4125.1% at -18.89% -35.53%,
      #00b3ff 0%,
      #18de54 100%
    );

    tr {
      &:nth-child(1) {
        th {
          padding: 12px 29px;

          @media (max-width: 1199px) {
            padding: 8px 15px;
          }
        }
      }
      &:nth-child(2) {
        background: rgba(0, 58, 83, 0.21);
        th {
          padding: 10px;
          font-family: Manrope, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #ffffff;
          text-align: left;

          @media (max-width: 1199px) {
            font-size: 14px;
            padding: 8px;
          }

          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      &:nth-child(2n-1) {
        background: #f2fbfe;
      }

      td {
        padding: 10px;
        font-family: Manrope, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #003a53;

        @media (max-width: 1199px) {
          font-size: 14px;
          padding: 8px;
        }

        &:first-child {
          text-align: center;
        }
      }
    }
  }
}

.helpful-btns {
  background: rgba(#eaf4ed, 0.6);
  padding: 15px;

  &__inner {
    padding: 12px 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(#fff, 0.6);

    @media (max-width: 1199px) {
      padding: 15px;
      flex-wrap: wrap;
    }
  }

  &__desc {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    margin-right: 21px;
  }

  &__wrapper {
    user-select: none;
    display: flex;
    border: 1px solid #4aa967;

    & > div {
      width: 74px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s ease-out;
      svg {
        width: 19px;
        height: 18px;
      }
      span {
        user-select: none;
        font-family: Manrope, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000;
      }
    }
  }

  &__like {
    border-right: 1px solid #4aa967;

    span {
      margin-right: 7px;
    }
    &:hover {
      background: rgba(green, 0.1);
    }
    &:active,
    &.clicked {
      svg path {
        fill: green;
      }
    }
  }

  &__dislike {
    span {
      margin-left: 7px;
    }
    &:hover {
      background: rgba(red, 0.1);
    }
    &:active,
    &.clicked {
      svg path {
        fill: red;
      }
    }
  }
}

// .eye-settings

.eye-settings {
  position: relative;
  display: inline-block;

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    background: rgba(246, 246, 246, 0.5);

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      object-position: center center;
    }

    &:hover {
      background: rgba(246, 246, 246, 0.7);
    }
  }

  &__dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-100%);
    border-radius: 16px;
    background-color: white;
    transition: opacity, top 0.3s ease-out 0s;
    visibility: visible;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 40px;
    width: 240px;
    padding: 0 20px 24px;

    &.show {
      top: 120%;
      opacity: 1;
    }

    &.left {
      left: 50%;
      transform: translateX(-100%);
    }

    &.right {
      left: 50%;
      transform: initial;
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    &.mobile-left {
      @media (max-width: 992px) {
        left: 50%;
        transform: translateX(-100%);
      }
    }
    &.mobile-right {
      @media (max-width: 992px) {
        left: 50%;
        transform: initial;
      }
    }
    &.mobile-center {
      @media (max-width: 992px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__clear {
    position: absolute;
    top: 12px;
    right: 20px;
    outline: none;
    border: none;
    text-decoration: underline;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    text-transform: lowercase;
    transition: all 0.3s ease-out;
    user-select: auto;
    &:hover {
      color: #989898;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    font-weight: 500;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  &__view {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      font-size: 24px;
      font-weight: 400;
      border: 2px solid;
      text-align: center;
      font-family: sans-serif;
      transition: 0.3s ease-out;
      line-height: 0.9;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        object-position: center center;
      }

      &:nth-child(1) {
        background-color: rgb(130, 130, 130);
        border-color: rgb(53, 53, 53);

        &.selected {
          background-color: rgb(0, 162, 224);
          border-color: rgb(3, 78, 107);
        }
      }
      &:nth-child(2) {
        background-color: rgb(130, 130, 130);
        border-color: rgb(53, 53, 53);

        &.selected {
          background-color: rgb(0, 162, 224);
          border-color: rgb(3, 78, 107);
        }
      }
      &:nth-child(3) {
        background-color: rgb(62, 62, 62);
        border-color: rgb(119, 119, 119);
        &.selected {
          background-color: rgb(0, 162, 224);
          border-color: rgb(3, 78, 107);
        }
      }
      &:nth-child(4) {
        background-color: #fff;
        border-color: rgb(0, 162, 224);

        &.no-image {
          position: relative;

          &::after {
            content: "";
            top: 50%;
            left: 50%;
            width: 2px;
            height: 30px;
            z-index: 1px;
            position: absolute;
            background: rgb(0, 162, 224);
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }

      &:not(.selected):hover {
        filter: brightness(150%);
      }
    }
  }

  &__text {
    display: flex;

    &-item {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      cursor: pointer;
      font-weight: 600;
      line-height: 0.9;
      border: 2px solid;
      text-align: center;
      margin-right: 10px;
      font-family: sans-serif;
      transition: all 0.3s ease-out;
      border: 1px solid rgba(0, 0, 0, 0.5);

      &.selected {
        color: #fff;
        background: rgb(62, 62, 62);
      }

      &:nth-child(1) {
        font-weight: 400;
        font-size: 14px;
      }
      &:nth-child(2) {
        font-size: 20px;
      }
      &:nth-child(3) {
        font-size: 28px;
        border: 2px solid rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__speak {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-input {
      & + span {
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 1px solid rgba(23, 31, 38, 0.2);
        background: #fff;
        margin-right: 10px;

        &::after {
          z-index: 1;
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          height: 7px;
          width: 15px;
          border: 1px solid rgb(0, 162, 224);
          border-top: 0;
          border-right: 0;
          opacity: 0;
          transform: translate(-50%, -80%) rotate(-45deg) scale(0);
          transition: all 0.3s ease-out;
        }
      }

      &:checked + span::after {
        transform: translate(-50%, -80%) rotate(-45deg) scale(1);
        opacity: 1;
      }
    }
  }
}
